html, body {
	border: 0;
	margin: 0;
	padding: 0;
}

h1 {
	background: black;
	color: white;
	min-height: 3em;
	text-align: center;
	font-size: 300%;
}

h1 span {
}

.incluster {
	margin-left: 1em;
}
