html, body {
	border: 0;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
	border: 0;
	background: black;
	color: white;
	min-height: 3em;
	text-align: center;
	font-size: 300%;
}

h2 {
	margin: 0;
	padding: 0;
	border: 0;
	background: #c2b280;
}

a:link h2, a:visited h2, a:active h2, a h2, h2 {
	color: black;
	text-decoration: none;
}

.incluster div a:link, .incluster div a:visited, .incluster div a:active {
	background: lightgray;
	padding-left: 0.25em;
	padding-right: 0.25em;
	border: 1px solid black;
	border-radius: 0.25em;
	color: black;
	text-decoration: none;
}

.incluster div a:link.disabled, .incluster div a:visited.disabled, .incluster div a:active.disabled {
	color: gray;
	background: white;
	border: 1px solid lightgray;
	cursor: default;
}

.incluster {
	margin-top: 1em;
	border: 1px solid black;
}

.incluster div {
	padding-left: 1em;
}

.hiddenconfig {
	display: none;
}

.configoverlay {
	display: block;
	position: fixed;
	font-size: 300%;
	top: 3em;
	left: 0;
	height: 100%;
	width: 100%;
	background: white;
	opacity: 70%;
}
.configoverlay div {
	font-size: 33%;
	position: relative;
	left: 50%;
	margin-left: -25em;
	width: 50em;
}
.clustercmds {
	margin-top: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #c2b280;
}
